{% extends "layout_bs.html" %}
{% block content %}

<!-- show alert box -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<div class="container-fluid">
  <div class="row">
    <!-- 左メニュー -->
    <div class="col-md-2">
      <!-- パネルで囲む -->
      <div class="panel panel-default">
        <!-- パネルヘッダー -->
        <div class="panel-heading">
          <form id="add-form" action="{{ url_for('post') }}" method="post" enctype="multipart/form-data">
            <label class="btn btn-info navbar-btn">
                <span class="glyphicon glyphicon-plus"></span>
                <!-- name属性を忘れないこと！(request.filesに使用) -->
                <input type="file" id="add-file" style="display:none" name="file">
                Add file...
            </label>
          </form>
        </div>
        <!-- パネルリスト -->
        <ul class="nav nav-pills nav-stacked">
            {% if filename %}
            <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i>{{ filename }}</a></li>
            {% endif %}
        </ul>
    </div>
    </div>
    <div class="col-md-10">
      <!-- show init message -->
      {% if body_message %}
        <h1>Wavelet Transformer</h1>
        <h5>Add file for wavelet continuous transform analysis.</h5>
      {% endif %}
      <div class="panel panel-default">
        <!-- waveletの描画 -->
        <div id="wavelet"></div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
